form{
    border: 3px solid gray;
    padding: 30px;
    margin: 50px auto;
    width: 300px;
    background-color: yellow;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: lightslategray;
    background-color: aqua;
    border-color:aquamarine;
    border-width:2px ;
}
h2{
    background-color: greenyellow;
    border-color: darkgoldenrod;
    border-width:3px ;
}
h3{
    background-color: paleturquoise;
    border-color: cadetblue;
    border-width:3px ;
}
label{
    display: block;
    margin-bottom: 10px;
    color: gray;
    font-weight: bold;
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid plum;
    border-radius: 4px;
}
input[type="submit"]{
    background-color: darkgreen;
    color: khaki;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: purple;
}

