h1{
    font-size: 36px;
    color: lightblue;
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8;
    margin: 0;
    padding: 20px;
}
iframe{
    background-color: coral;
    border-color: aquamarine;
    border-width: 2cm;
    border-left: #f0f8;
}
img{
    border-image: 20px; 
}
